$app-height:        100dvh;
$app-width:         100dvw;
$nav-height:        calc(60px);
$nav-padding:       $sp-6;
$nav-height-actual: calc($nav-height + ($nav-padding * 2));
$view-height:       calc($app-height - $nav-height-actual);
#app {
  position:           relative;
  display:            grid;
  overflow:           hidden;
  grid-template-rows: 1fr $nav-height-actual;
  width:              100dvw;
  height:             $app-height;
}

.nav-bar {
  z-index:          10000;
  position:         fixed;
  right:            0;
  bottom:           0;
  left:             0;
  display:          flex;
  flex-flow:        row nowrap;
  place-content:    center;
  place-items:      center;
  gap:              $sp-6;
  height:           $nav-height;
  padding:          $nav-padding;
  background-color: $color-primary-5;
  .button {
    width:     20%;
    min-width: 65px;
    max-width: 120px;
    height:    100%;
    padding:   0;
    opacity:   65%;
    &.--secondary {
      opacity: 100% !important;
    }
  }
}

.view {
  &-mask {
    overflow:  scroll;
    width:     $app-width;
    max-width: $app-width;
    height:    $view-height;
  }
  &-container {
    min-height: $view-height;
  }
}

/*-| Views |-*/
/*---+----+---+----+---+----+---+----+---*/
.view-floor-plan {
  width:  $app-width;
  height: calc($view-height - 4px);
  border: none !important;
}
