/*-| Badges for Selecting |-*/
/*/==/==/==/==/==/==/==/==/==/==/==/==/==/==/==/==/*/
.badge-select-grid {
  @extend .adapt-grid;
  margin: $sp-18 0 0 0;
  .badge-select-wrap {
    @extend .grid-card;
    grid-template-columns: min-content 1fr;
    gap:                   $sp-6;
    & * {
      margin: 0;
    }
  }
}

/*-| Badges for Printing |-*/
/*/==/==/==/==/==/==/==/==/==/==/==/==/==/==/==/==/*/
.badges-page-container {
  z-index:  -1;
  position: absolute;
}

.badge-grid-container {
  display:               grid;
  grid-template-columns: 4in 4in;
  grid-template-rows: repeat(auto-fill, 3in);
  width:                 8.375in;
  height:                10in;
  padding-top:           1in;
  padding-left:          0.125in;
  //outline:               1px dashed black;
  & .badge-wrap {
    display:            grid;
    grid-template-rows: 1fr 1fr;
    /*width:              4in;
    height:             3in;*/
    padding:            0.165in 0.165in 0.325in;
    //outline:            1px dashed $grey-11;
    & .--attendee-info-container {
      display:            grid;
      grid-template-rows: repeat(3, min-content );
      gap:                $sp-4;
      width:              100%;
      * {
        line-height:    1;
        text-transform: capitalize;
        margin:         0;
      }
      & input {
        padding: 0 !important;
        border:  none;
      }
      & .--employer {
        color:                   $color-primary-4;
        font-size:               1.25rem;
        font-variation-settings: "wght" 300, "wdth" 100, "opsz" 15;
      }
      & .--name {
        font-size:               $font-xl;
        font-variation-settings: "wght" 600, "wdth" 100, "opsz" 15;
      }
      & .--title {
        color:                   $grey-5;
        font-size:               1.25rem;
        font-style:              italic;
        font-variation-settings: "wght" 300, "wdth" 100, "opsz" 15;
      }
    }
    & .badge--images-container {
      display:               grid;
      grid-template-columns: .65fr 1fr;
      grid-template-rows: 1.175in;
      place-content:         center;
      place-items:           center start;
      .badge--qr {
        width:      115px !important;
        height:     115px !important;
        background: $grey-10;
      }
      img {
        width:  185px;
        height: auto;
      }
    }
  }
}
