button, .button {
  display:         flex;
  place-content:   center;
  place-items:     center;
  place-self:      center;
  color:           $grey-4;
  font-size:       $font-sm;
  font-weight:     450;
  line-height:     1;
  text-align:      center;
  text-decoration: none;
  padding:         $sp-5 $sp-6;
  cursor:          pointer;
  border:          1px solid $grey-8;
  border-radius:   $item-border;
  background:      $grey-12;
  transition:      background $trans-0;
  &:hover {
    color:      $grey-2;
    background: $grey-10;
  }
  &.--square {
    aspect-ratio: 1 / 1;
    line-height:  0;
    height:       min-content;
    padding:      $sp-4;
  }
  &.--float {
    position: absolute;
    &.--top-r {
      top:   $sp-6;
      right: $sp-6;
    }
  }
  &.--primary {
    color:      $color-primary-4;
    border:     1px solid $color-primary-8;
    background: $color-primary-10;
    &:hover {
      color:      $color-primary-10;
      background: $color-primary-3;
    }
  }
  &.--secondary {
    color:      $color-secondary-2;
    border:     1px solid $color-secondary-8;
    background: $color-secondary-10;
    &:hover {
      color:      $color-secondary-4;
      background: $color-secondary-10;
    }
  }
  &.--success {
    color:      $color-success-4;
    border:     1px solid $color-success-8;
    background: $color-success-12;
    &:hover {
      color:      $color-success-4;
      background: $color-success-10;
    }
  }
  &.--warn {
    color:      $color-warn-6;
    border:     1px solid $color-warn-8;
    background: $color-warn-12;
    &:hover {
      color:      $color-warn-4;
      background: $color-warn-10;
    }
  }
}
