@use "config/config" as c;

label {
  display:   grid;
  flex:      1 1 auto;
  gap:       c.$sp-4;
  font-size: c.$font-xs;
  margin:    c.$sp-4 0 0 0;
  padding:   0 c.$sp-2;
  & input, select, textarea {
    flex: 1 1 auto;
  }
}

input, select {
  padding:       c.$sp-5 c.$sp-6;
  border:        2px solid c.$grey-10;
  border-radius: c.$item-border;
  transition:    box-shadow c.$trans-200, border c.$trans-200;
  &::placeholder {
    color:      c.$grey-8;
    font-style: italic;
  }
  &:focus, &:focus-visible {
    border:     2px solid c.$color-secondary-8;
    outline:    none;
    box-shadow: 0 0 8px -0 c.$color-secondary-10, inset 0 0 8px 0 c.$color-secondary-10;
  }
}

/*-| Radio Buttons |-*/
/*---+----+---+----+---+----+---+----+---*/
fieldset {
  display:   flex;
  flex-flow: row wrap;
  gap:       c.$sp-4;
  div:has( > input[type="radio"]) {
    input[type="radio"] {
      width:  c.$sp-8;
      height: c.$sp-8;
    }
  }
}

/*-| Search |-*/
/*---+----+---+----+---+----+---+----+---*/
.search-wrap {
  position: relative;
  button {
    position:      absolute;
    top:           50%;
    right:         c.$sp-8;
    border:        1px solid c.$grey-8;
    border-radius: 65px;
    translate:     0 -50%;
    scale:         .85;
  }
  input.search {
    padding:       c.$sp-6 c.$sp-8;
    border-radius: 65px;
    transition:    border-radius c.$trans-200;
    &:focus, &:focus-visible {
      border-radius: c.$item-border;
    }
  }
}
