label {
  display:   grid;
  gap:       $sp-4;
  font-size: $font-xs;
  margin:    $sp-4 0 0 0;
  padding:   0 $sp-2;
    flex: 1 1 auto;
  & input, select, textarea {
    flex: 1 1 auto;
  }
}

input, select {
  padding:       $sp-5 $sp-6;
  border:        2px solid $grey-10;
  border-radius: $item-border;
  transition:    box-shadow $trans-0, border $trans-0;
  &::placeholder {
    color:      $grey-8;
    font-style: italic;
  }
  &:focus, &:focus-visible {
    border:     2px solid $color-secondary-8;
    outline:    none;
    box-shadow: 0 0 8px -0 $color-secondary-10, inset 0 0 8px 0 $color-secondary-10;
  }
}

.search-wrapper {
  position: relative;
  button {
    position:      absolute;
    top:           50%;
    right:         $sp-8;
    border:        1px solid $grey-8;
    border-radius: 65px;
    translate:     0 -50%;
    scale:         .85;
  }
  input.search {
    padding:       $sp-6 $sp-8;
    border-radius: 65px;
    transition:    border-radius $trans-0;
    &:focus, &:focus-visible {
      border-radius: $item-border;
    }
  }
}
