
.lead-cards-container {
  @extend .adapt-grid;
}

.lead-card {
@extend .grid-card;
  .card-label {
    color:          $grey-1;
    font-size:      $font-xs - 2px;
    font-weight:    400;
    text-transform: uppercase;
  }
  #name {
    font-size:     $font-md;
    font-weight:   500;
    line-height:   1;
    margin-bottom: $sp-2;
  }
  #contact {
    @extend .row;
    justify-content: space-between;
    margin:          $sp-5 0 0 0;
    padding:         0;
  }
  #phone, #email {
    color:                     $color-success-4;
    font-size:                 $font-xs;
    font-weight:               300;
    min-width:                 max-content;
    transition:                background $trans-100;
    text-decoration-line:      underline;
    text-underline-offset:     $sp-1;
    text-decoration-color:     $color-success-11;
    text-decoration-thickness: 2px;
    & i {
      color:     $color-success-8;
      font-size: $font-sm;
    }
    &:hover {
      background: $color-success-12;
    }
  }
  #score {
    display:               grid;
    grid-template-columns: repeat(5, 28px);
    margin-top:            $sp-6;
    & i {
      color:     $color-secondary-7;
      font-size: $font-md;
    }
  }
  #comment {
    margin-top: $sp-6;
  }
}
