/*-| Variables |-*/
/*/==/==/==/==/==/==/==/==/==/==/==/==/==/==/==/==/*/
$column-number:  12;
$max-page-width: 1600px;
$row-gap:        $sp-4;
$col-gap:        $sp-4;
/*-| Breakpoints |-*/
$breakpoints:    (
                   xxxs: 300,
                   xxs: 400,
                   xs: 500,
                   sm: 700,
                   md: 900,
                   lg: 1100,
                   xl: 1400,
                   xxl: 1600,
                 );
/*-| Setup |-*/
/*/==/==/==/==/==/==/==/==/==/==/==/==/==/==/==/==/*/
/*-| Breakpoints |-*/
/*---+----+---+----+---+----+---+----+---*/
@mixin breakpoint($breakpoint) {
  @media (min-width: #{$breakpoint}px) {
    @content
  }
}

/*-| Layout |-*/
/*---+----+---+----+---+----+---+----+---*/
.section {
  display:   flex;
  flex:      1 1 auto;
  flex-flow: row wrap;
  gap:       $row-gap;
  width:     100dvw;
  max-width: $max-page-width;
  margin:    0;
  padding:   $sp-v-8;
}

.row {
  display:   flex;
  flex:      1 1 auto;
  flex-flow: row wrap;
  place-content: center;
  gap:       $row-gap;
  max-width: $max-page-width;
  margin:    0 auto;
  padding:   $sp-v-4 $sp-v-5;
  .--full {
    max-width: 100%;
  }
  .--items {
    padding: $sp-4;
  }
}

/*-| Columns by Breakpoint |-*/
@each $bp, $size in $breakpoints {
  @for $i from 1 through $column-number {
    .col-#{$i}-#{$size} {
      min-width: 200px;
      display:   flex;
      flex-flow: column nowrap;
      gap:       $col-gap;
      & > button {
        margin-top: $sp-8;
      }
      @include breakpoint($size) {
        flex:  0 1 calc((100% * ($i / $column-number)) - $row-gap);
        width: calc((100% * ($i / $column-number)) - $row-gap);
      }
    }
  }
}

/*-| Placement |-*/
/*/==/==/==/==/==/==/==/==/==/==/==/==/==/==/==/==/*/
$align-type:     (
                   "place",
                   "justify",
                   "align"
                 );
$align-subject:  (
                   "self",
                   "items",
                   "content"
                 );
$align-area:     (
                   "start",
                   "center",
                   "end",
                   "stretch"
                 );
@each $type in $align-type {
  @each $subject in $align-subject {
    @each $area in $align-area {
      .--#{$type}-#{$subject}-#{$area} {
        #{$type}-#{$subject}: #{$area}
      }
    }
  }
}

/*-| Sizing |-*/
/*/==/==/==/==/==/==/==/==/==/==/==/==/==/==/==/==/*/
.--h-100 {
  height: 100%;
}
