@use "config/config" as c;

.scanner-camera-container {
  height: c.$view-height !important;
}

.scanner-camera-wrap {
  flex: 1 1 70%;
}

.qr-float-container {
  position:      absolute;
  right:         c.$sp-6;
  bottom:        c.$sp-2 + c.$nav-height-actual;
  left:          c.$sp-6;
  place-content: space-between;
  align-items:   stretch;
}

.qr-float-target-text {
  display:         flex;
  overflow-x:      scroll;
  flex:            1 0 auto;
  place-content:   center;
  place-items:     center;
  color:           c.$grey-12;
  font-size:       c.$font-md;
  font-weight:     500;
  padding:         c.$sp-8;
  border-radius:   c.$panel-border;
  background:      hsla(0, 0%, 0%, 35%);
  backdrop-filter: blur(10px);
}

.scan-placement-container {
  z-index:       10;
  position:      absolute;
  bottom:        calc(60% + #{c.$nav-height-actual});
  left:          50%;
  aspect-ratio:  1;
  width:         65%;
  max-width:     500px;
  max-height:    80%;
  border:        4px solid c.$color-secondary-8;
  border-radius: c.$panel-border;
  box-shadow:    0 0 8px c.$color-secondary-6, inset 0 0 8px c.$color-secondary-6;
  transform:     translate(-50%, 60%);
}

.qr-float-cancel {
}

.qr-float-confirm i {
  font-size: c.$font-md;
}

