/*-| General |-*/
/*/==/==/==/==/==/==/==/==/==/==/==/==/==/==/==/==/*/
/*-| Constant |-*/
/*---+----+---+----+---+----+---+----+---*/
$sp-1:         2px;
$sp-2:         4px;
$sp-3:         6px;
$sp-4:         8px;
$sp-5:         12px;
$sp-6:         16px;
$sp-7:         20px;
$sp-8:         24px;
$sp-9:         28px;
$sp-10:        32px;
$sp-11:        36px;
$sp-12:        40px;
$sp-13:        44px;
$sp-14:        48px;
$sp-15:        54px;
$sp-16:        60px;
$sp-17:        72px;
$sp-18:        86px;
/*-| Variable |-*/
/*---+----+---+----+---+----+---+----+---*/
$sp-v-1:       max(2vw, calc($sp-1 * 2));
$sp-v-2:       max(4vw, calc($sp-2 * 2));
$sp-v-3:       max(6vw, calc($sp-3 * 2));
$sp-v-4:       max(8vw, calc($sp-4 * 2));
$sp-v-5:       max(10vw, calc($sp-5 * 2));
$sp-v-6:       max(12vw, calc($sp-6 * 2));
$sp-v-7:       max(14vw, calc($sp-7 * 2));
$sp-v-8:       max(16vw, calc($sp-8 * 2));
$sp-v-9:       max(18vw, calc($sp-9 * 2));
$sp-v-10:      max(20vw, calc($sp-10 * 2));
$sp-v-11:      max(22vw, calc($sp-11 * 2));
$sp-v-12:      max(24vw, calc($sp-12 * 2));
$sp-v-13:      max(28vw, calc($sp-13 * 2));
$sp-v-14:      max(32vw, calc($sp-14 * 2));
$sp-v-15:      max(36vw, calc($sp-15 * 2));
$sp-v-16:      max(40vw, calc($sp-16 * 2));
$sp-v-17:      max(44vw, calc($sp-17 * 2));
$sp-v-18:      max(48vw, calc($sp-18 * 2));
/*/===!===!===!===!===!===!===!===!===!===!===!===!===!===!===!===!/*/
/*-| Items, Borders |-*/
/*/===!===!===!===!===!===!===!===!===!===!===!===!===!===!===!/*/
$item-border:  $sp-4;
$panel-border: $sp-6;
/*-| Generate |-*/
/*/==/==/==/==/==/==/==/==/==/==/==/==/==/==/==/==/*/
@for $i from 0 through 24 {
  /*-| All |-*/
  /*---+----+---+----+---+----+---+----+---*/
  .--p-#{$i} {
    padding: calc(2px * $i) !important;
  }
  .--m-#{$i} {
    margin: calc(2px * $i) !important;
  }
  .--gap-#{$i} {
    gap: calc(2px * $i) !important;
  }
  /*-| Axis |-*/
  /*---+----+---+----+---+----+---+----+---*/
  /*-| Vert |-*/
  .--p-v-#{$i} {
    padding-top:    calc(2px * $i) !important;
    padding-bottom: calc(2px * $i) !important;
  }
  .--m-v-#{$i} {
    margin-top:    calc(2px * $i) !important;
    margin-bottom: calc(2px * $i) !important;
  }
  /*-| Horz |-*/
  .--p-h-#{$i} {
    padding-left:  calc(2px * $i) !important;
    padding-right: calc(2px * $i) !important;
  }
  .--m-h-#{$i} {
    margin-left:  calc(2px * $i) !important;
    margin-right: calc(2px * $i) !important;
  }
  /*-| Individual |-*/
  /*---+----+---+----+---+----+---+----+---*/
  /*-| Top |-*/
  .--p-t-#{$i} {
    padding-top: calc(2px * $i) !important;
  }
  .--m-t-#{$i} {
    margin-top: calc(2px * $i) !important;
  }
  /*-| Right |-*/
  .--p-r-#{$i} {
    padding-right: calc(2px * $i) !important;
  }
  .--m-r-#{$i} {
    margin-right: calc(2px * $i) !important;
  }
  /*-| Bottom |-*/
  .--p-b-#{$i} {
    padding-bottom: calc(2px * $i) !important;
  }
  .--m-b-#{$i} {
    margin-bottom: calc(2px * $i) !important;
  }
  /*-| Left |-*/
  .--p-l-#{$i} {
    padding-left: calc(2px * $i) !important;
  }
  .--m-l-#{$i} {
    margin-left: calc(2px * $i) !important;
  }
  /*-| Positioning |-*/
  /*---+----+---+----+---+----+---+----+---*/
  .--top-#{$i} {
    top: calc(2px * $i) !important;
  }
  .--bottom-#{$i} {
    bottom: calc(2px * $i) !important;
  }
  .--left-#{$i} {
    left: calc(2px * $i) !important;
  }
  .--right-#{$i} {
    right: calc(2px * $i) !important;
  }
}

/*/===!===!===!===!===!===!===!===!===!===!===!===!===!===!===!===!/*/
/*-| Dimensions |-*/
/*/===!===!===!===!===!===!===!===!===!===!===!===!===!===!===!/*/
@for $i from 1 through 20 {
  .--w-#{$i * 5} {
    width: #{$i * 5 + "%"} !important;
  }
  .--h-#{$i * 5} {
    height: #{$i * 5 + "%"} !important;
  }
  .--flex-basis-#{$i * 5} {
    flex-basis: #{$i * 5 + "%"} !important;
  }
}
