table {
  text-align:      left;
  padding:         $sp-4;
  border-collapse: collapse;
  border:          1px solid $grey-8;
  th {
    padding: $sp-4 $sp-5;
    border:  1px solid $grey-9;
  }
  tbody {
    tr {
      border:     1px solid $grey-9;
      transition: background 200ms ease-in;
      td {
        padding:      $sp-4 $sp-5;
        border-right: 1px solid $grey-11;
        outline:      2px solid hsla(0, 0%, 0%, 0);
        transition:   outline 200ms ease-out;
        &:hover {
          outline: 1px solid $color-secondary-5;
        }
      }
      &:hover {
        background: $grey-12;
      }
    }
  }
}
