/*-| Reset |-*/
* {
  text-wrap: pretty;
}

p, li, h1, h2, h3, h4, h5 {
  margin: 0 0 8px 0;
}

:root {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

$font-xs:  16px;
$font-sm:  18px;
$font-md:  22px;
$font-lg:  26px;
$font-xl:  30px;
$font-xxl: 34px;
.--font-xs {
  font-size: $font-xs;
}

.--font-sm {
  font-size: $font-sm;
}

.--font-md {
  font-size: $font-md;
}

.--font-lg {
  font-size: $font-lg;
}

.--font-xl {
  font-size: $font-xl;
}

.--font-xxl {
  font-size: $font-xxl;
}

p, button, li, label {
  font-size: $font-sm;
}

