:root {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

$font-xs:  16px;
$font-sm:  18px;
$font-md:  22px;
$font-lg:  26px;
$font-xl:  30px;
$font-xxl: 34px;

p, button, li, label {
  font-size: $font-sm;
}
