@use "config/config" as c;
/*-| App Views |-*/
/*---+----+---+----+---+----+---+----+---*/
#app {
  position:           relative;
  display:            grid;
  overflow:           hidden;
  grid-template-rows: 1fr c.$nav-height-actual;
  width:              100dvw;
  height:             c.$app-height;
}

.nav-bar {
  z-index:          10000;
  position:         fixed;
  right:            0;
  bottom:           0;
  left:             0;
  display:          flex;
  flex-flow:        row nowrap;
  place-content:    center;
  place-items:      center;
  gap:              c.$sp-4;
  height:           c.$nav-height;
  padding:          c.$nav-padding;
  background-color: c.$color-primary-5;
  .button {
    width:     20%;
    min-width: 65px;
    max-width: 85px;
    padding:   0;
    opacity:   65%;
    &.--secondary {
      opacity: 100% !important;
    }
  }
}

.view {
  &-mask {
    overflow:   scroll;
    width:      c.$app-width;
    max-width:  c.$app-width;
    height:     c.$view-height;
    background: c.$grey-12;
  }
  &-container {
    display:    flex;
    min-height: c.$view-height;
  }
}

/*-| Views |-*/
/*---+----+---+----+---+----+---+----+---*/
.view-floor-plan {
  width:  c.$app-width;
  height: calc(#{c.$view-height} - 4px);
  border: none !important;
}
