@use "../config/config" as c;

$button-border-bottom: 3px solid;
$button-border:        1px solid;
button,
.button {
  display:             flex;
  flex:                0 1 auto;
  place-content:       center;
  place-items:         center;
  color:               c.$grey-4;
  font-size:           c.$font-sm;
  font-weight:         500;
  line-height:         1;
  text-align:          center;
  text-decoration:     none;
  padding:             c.$sp-6 c.$sp-7;
  cursor:              pointer;
  border-width:        1px;
  border-style:        solid;
  border-color:        c.$grey-7;
  border-bottom-width: 3px;
  border-radius:       c.$item-border;
  background:          c.$grey-12;
  transition:          background c.$trans-200, color c.$trans-200, border-width c.$trans-100;
  & i {
    color:     inherit;
    font-size: inherit;
  }

  &:hover {
    color:      c.$grey-2;
    background: c.$grey-10;
  }
  /*-| Alternatives |-*/
  /*/==/==/==/==/==/==/==/==/==/==/==/==/==/==/==/==/*/
  &.--square {
    aspect-ratio: 1 / 1;
    line-height:  1;
    height:       min-content;
    padding:      c.$sp-4;
  }
  &.--float {
    z-index:  10;
    position: absolute;
    &.--top-r {
      top:   c.$sp-8;
      right: c.$sp-8;
    }
    &.--top-l {
      top:  c.$sp-8;
      left: c.$sp-8;
    }
    &.--bottom-r {
      right:  c.$sp-8;
      bottom: calc(#{c.$sp-8 + c.$nav-height-actual});
    }
    &.--bottom-l {
      bottom: calc(#{c.$sp-8 + c.$nav-height-actual});
      left:   c.$sp-8;
    }
    &.--bottom-c {
      bottom:    calc(#{c.$sp-8 + c.$nav-height-actual});
      left:      50%;
      transform: -50% 0;
    }
  }
  &.--disable {
    pointer-events: none;
    opacity:        0.5;
  }
  &.--stacked {
    display:       grid;
    place-content: center;
    place-items:   center;
    gap:           c.$sp-3;
    font-size:     c.$font-sm;
    padding:       c.$sp-5 c.$sp-6;
    & i {
      font-size: c.$font-xl;
    }
  }
  /*-| Mixin |-*/
  /*---+----+---+----+---+----+---+----+---*/
  @mixin color-button(
    $color,
    $border-color,
    $background,
    $hover-color,
    $hover-background,
    $invert-color,
    $invert-border-color,
    $invert-background,
    $invert-hover-color,
    $invert-hover-background
  ) {
    color:        $color,;
    border-color: $border-color,;
    background:   $background,;
    &:hover {
      color:      $hover-color,;
      background: $hover-background,;
    }
    &--invert {
      color:        $invert-color,;
      border-color: $invert-border-color,;
      background:   $invert-background,;
      &:hover {
        color:      $invert-hover-color,;
        background: $invert-hover-background;
      }
    }
  }
  /*-| Colors |-*/
  /*/==/==/==/==/==/==/==/==/==/==/==/==/==/==/==/==/*/
  &.--primary {
    @include color-button(
        c.$color-primary-3, // $color,
        c.$color-primary-4, // $border-color,
        c.$color-primary-10, // $background,
        c.$color-primary-2, // $hover-color,
        c.$color-primary-8, // $hover-background,
        c.$color-primary-12, // $invert-color,
        c.$color-primary-4, // $invert-border-color,
        c.$color-primary-5, // $invert-background,
        c.$color-primary-11, // $invert-hover-color,
        c.$color-primary-4 // $invert-hover-background
    );
  }
  &.--secondary {
    @include color-button(
        c.$color-secondary-3, // $color,
        c.$color-secondary-7, // $border-color,
        c.$color-secondary-10, // $background,
        c.$color-secondary-2, // $hover-color,
        c.$color-secondary-9, // $hover-background,
        c.$color-secondary-12, // $invert-color,
        c.$color-secondary-3, // $invert-border-color,
        c.$color-secondary-5, // $invert-background,
        c.$color-secondary-10, // $invert-hover-color,
        c.$color-secondary-4 // $invert-hover-background
    );
  }
  &.--success {
    @include color-button(
        c.$color-success-3, // $color,
        c.$color-success-7, // $border-color,
        c.$color-success-10, // $background,
        c.$color-success-2, // $hover-color,
        c.$color-success-9, // $hover-background,
        c.$color-success-12, // $invert-color,
        c.$color-success-3, // $invert-border-color,
        c.$color-success-6, // $invert-background,
        c.$color-success-10, // $invert-hover-color,
        c.$color-success-4 // $invert-hover-background
    );
  }
  &.--warn {
    @include color-button(
        c.$color-warn-3, // $color,
        c.$color-warn-7, // $border-color,
        c.$color-warn-10, // $background,
        c.$color-warn-2, // $hover-color,
        c.$color-warn-9, // $hover-background,
        c.$color-warn-12, // $invert-color,
        c.$color-warn-3, // $invert-border-color,
        c.$color-warn-5, // $invert-background,
        c.$color-warn-10, // $invert-hover-color,
        c.$color-warn-4 // $invert-hover-background
    );
  }
}
