/*-| Placement
/==/==/==/==/==/==/==/==/==/==/==/==/==/==/==/==/*/
$place-type:    (
                  "place",
                  "justify",
                  "align"
                );
$place-subject: (
                  "self",
                  "items",
                  "content"
                );
$place-area:    (
                  "start",
                  "center",
                  "end",
                  "stretch",
                  "baseline",
                  "space-around",
                  "space-between",
                  "space-evenly"
                );
@each $type in $place-type {
  @each $subject in $place-subject {
    @each $area in $place-area {
      .--#{$type}-#{$subject}-#{$area} {
        #{$type}-#{$subject}: #{$area} !important;
      }
    }
  }
}

/*-| Position
==/==/==/==/==/==/==/==/==/==/==/==/==/==/==/==/*/
$position-type: (
                  relative,
                  absolute,
                  sticky,
                  fixed,
                );
@each $position in $position-type {
  .--position-#{$position} {
    position: $position !important;
  }
}
