@use "../abstracts/index" as *;

@font-face {
  font-family:  InterVariable;
  font-style:   normal;
  font-weight:  100 900;
  font-display: swap;
  src:          url("../../../public/fonts/inter-4.1/InterVariable.ttf") format("ttf"),
                url("../../../public/fonts/inter-4.1/InterVariable.woff2") format("woff2"),
                url("../../../public/fonts/inter-4.1/Inter.ttc") format("ttc");
}

@font-face {
  font-family:  InterVariable;
  font-style:   italic;
  font-weight:  100 900;
  font-display: swap;
  src:          url("../../../public/fonts/inter-4.1/InterVariable-Italic.ttf") format("ttf"),
                url("../../../public/fonts/inter-4.1/InterVariable-Italic.woff2") format("woff2"),
                url("../../../public/fonts/inter-4.1/Inter.ttc") format("ttc");
}

/*-| Reset |-*/
* {
  color:     $grey-2;
  text-wrap: pretty;
}

:root {
  font-family: InterVariable, Arial, sans-serif;
}

/*-| Generate
/==/==/==/==/==/==/==/==/==/==/==/==/==/==/==/==/*/

/*-| Font Size Classes |-*/
@for $f from 0 through 16 {
  $add: #{14 + (2 * $f)};
  .--font-size-#{$add} {
    font-size: #{$add + "px"} !important;
  }
}

@for $x from 1 through 12 {
  .--color-primary-#{$x} {
    color: var(#{"--color-primary-" + $x}) !important;
  }
  .--color-secondary-#{$x} {
    color: var(#{"--color-secondary-" + $x}) !important;
  }
  .--color-success-#{$x} {
    color: var(#{"--color-success-" + $x}) !important;
  }
  .--color-warn-#{$x} {
    color: var(#{"--color-warn-" + $x}) !important;
  }
  .--color-grey-#{$x} {
    color: var(#{"--grey-" + $x}) !important;
  }
}

/*-| elements |-*/
/*/==/==/==/==/==/==/==/==/==/==/==/==/==/==/==/==/*/
p, button, li, label {
  font-size: $font-sm;
}

h1 {
  font-size:   $font-xl;
  font-weight: 800;
}

h2 {
  font-size:   $font-lg;
  font-weight: 700;
}

h3 {
  font-size:   $font-md;
  font-weight: 600;
}

h4 {
  font-size:   $font-sm;
  font-weight: 600;
}

h5 {
  font-size:      $font-sm;
  font-weight:    600;
  text-transform: uppercase;
}

p, li, h1, h2, h3, h4, h5 {
  line-height: 1.35;
  margin:      0;
}
