$trans-100: 100ms ease-in-out !default;
$trans-200: 200ms ease-in-out !default;
$trans-300: 300ms ease-in-out !default;
$trans-400: 400ms ease-in-out !default;
$trans-500: 500ms ease-in-out !default;
$trans-600: 600ms ease-in-out !default;
