/*/===!===!===!===!===!===!===!===!===!===!===!===!===!===!===!===!/*/
/*-| Dimensions |-*/
/*/===!===!===!===!===!===!===!===!===!===!===!===!===!===!===!/*/

@for $i from 1 through 20 {
  .--w-#{$i * 5} {
    width: #{$i * 5 + "%"} !important;
  }
  .--h-#{$i * 5} {
    height: #{$i * 5 + "%"} !important;
  }
  .--flex-basis-#{$i * 5} {
    flex-basis: #{$i * 5 + "%"} !important;
  }
}
