/*-| Placement |-*/
/*/==/==/==/==/==/==/==/==/==/==/==/==/==/==/==/==/*/
$place-type:    (
                  "place",
                  "justify",
                  "align"
                );
$place-subject: (
                  "self",
                  "items",
                  "content"
                );
$place-area:    (
                  "start",
                  "center",
                  "end",
                  "stretch",
                  "baseline"
                );
@each $type in $place-type {
  @each $subject in $place-subject {
    @each $area in $place-area {
      .--#{$type}-#{$subject}-#{$area} {
        #{$type}-#{$subject}: #{$area}
      }
    }
  }
}
