/*-| Placement |-*/
/*/==/==/==/==/==/==/==/==/==/==/==/==/==/==/==/==/*/
$align-type:    (
                  "place",
                  "justify",
                  "align"
                );
$align-subject: (
                  "self",
                  "items",
                  "content"
                );
$align-area:    (
                  "start",
                  "center",
                  "end",
                  "stretch"
                );
@each $type in $align-type {
  @each $subject in $align-subject {
    @each $area in $align-area {
      .--#{$type}-#{$subject}-#{$area} {
        #{$type}-#{$subject}: #{$area}
      }
    }
  }
}
