/*-| General |-*/
/*/==/==/==/==/==/==/==/==/==/==/==/==/==/==/==/==/*/

/*-| Constant |-*/
/*---+----+---+----+---+----+---+----+---*/
$sp-1:         2px !default;
$sp-2:         4px !default;
$sp-3:         6px !default;
$sp-4:         8px !default;
$sp-5:         12px !default;
$sp-6:         16px !default;
$sp-7:         20px !default;
$sp-8:         24px !default;
$sp-9:         28px !default;
$sp-10:        32px !default;
$sp-11:        36px !default;
$sp-12:        40px !default;
$sp-13:        44px !default;
$sp-14:        48px !default;
$sp-15:        54px !default;
$sp-16:        60px !default;
$sp-17:        72px !default;
$sp-18:        86px !default;

/*-| Variable |-*/
/*---+----+---+----+---+----+---+----+---*/
$sp-v-1:       clamp(calc($sp-1 * 1), 4vw, calc($sp-1 * 1.5)) !default;
$sp-v-2:       clamp(calc($sp-2 * 1), 4vw, calc($sp-2 * 1.5)) !default;
$sp-v-3:       clamp(calc($sp-3 * 1), 4vw, calc($sp-3 * 1.5)) !default;
$sp-v-4:       clamp(calc($sp-4 * 1), 4vw, calc($sp-4 * 1.5)) !default;
$sp-v-5:       clamp(calc($sp-5 * 1), 4vw, calc($sp-5 * 1.5)) !default;
$sp-v-6:       clamp(calc($sp-6 * 1), 4vw, calc($sp-6 * 1.5)) !default;
$sp-v-7:       clamp(calc($sp-7 * 1), 4vw, calc($sp-7 * 1.5)) !default;
$sp-v-8:       clamp(calc($sp-8 * 1), 4vw, calc($sp-8 * 1.5)) !default;
$sp-v-9:       clamp(calc($sp-9 * 1), 4vw, calc($sp-9 * 1.5)) !default;
$sp-v-10:      clamp(calc($sp-10 * 1), 4vw, calc($sp-10 * 1.5)) !default;
$sp-v-11:      clamp(calc($sp-11 * 1), 4vw, calc($sp-11 * 1.5)) !default;
$sp-v-12:      clamp(calc($sp-12 * 1), 4vw, calc($sp-12 * 1.5)) !default;
$sp-v-13:      clamp(calc($sp-13 * 1), 4vw, calc($sp-13 * 1.5)) !default;
$sp-v-14:      clamp(calc($sp-14 * 1), 4vw, calc($sp-14 * 1.5)) !default;
$sp-v-15:      clamp(calc($sp-15 * 1), 4vw, calc($sp-15 * 1.5)) !default;
$sp-v-16:      clamp(calc($sp-16 * 1), 4vw, calc($sp-16 * 1.5)) !default;
$sp-v-17:      clamp(calc($sp-17 * 1), 4vw, calc($sp-17 * 1.5)) !default;
$sp-v-18:      clamp(calc($sp-18 * 1), 4vw, calc($sp-18 * 1.5)) !default;

/*-| Layout |-*/
/*---+----+---+----+---+----+---+----+---*/
$row-gap:      $sp-4;
$col-gap:      $sp-4;

/*-| Borders |-*/
/*---+----+---+----+---+----+---+----+---*/
$item-border:  $sp-4 !default;
$panel-border: $sp-6 !default;

/*/===!===!===!===!===!===!===!===!===!===!===!===!===!===!===!===!/*/
/*-| Generate |-*/
/*/===!===!===!===!===!===!===!===!===!===!===!===!===!===!===!/*/

@for $i from 0 through 24 {
  /*-| All |-*/
  /*---+----+---+----+---+----+---+----+---*/
  .--p-#{$i} {
    padding: calc(2px * $i) !important;
  }
  .--m-#{$i} {
    margin: calc(2px * $i) !important;
  }
  .--gap-#{$i} {
    gap: calc(2px * $i) !important;
  }
  /*-| Axis |-*/
  /*---+----+---+----+---+----+---+----+---*/
  /*-| Vert |-*/
  .--p-v-#{$i} {
    padding-top:    calc(2px * $i) !important;
    padding-bottom: calc(2px * $i) !important;
  }
  .--m-v-#{$i} {
    margin-top:    calc(2px * $i) !important;
    margin-bottom: calc(2px * $i) !important;
  }
  /*-| Horz |-*/
  .--p-h-#{$i} {
    padding-left:  calc(2px * $i) !important;
    padding-right: calc(2px * $i) !important;
  }
  .--m-h-#{$i} {
    margin-left:  calc(2px * $i) !important;
    margin-right: calc(2px * $i) !important;
  }
  /*-| Individual |-*/
  /*---+----+---+----+---+----+---+----+---*/
  /*-| Top |-*/
  .--p-t-#{$i} {
    padding-top: calc(2px * $i) !important;
  }
  .--m-t-#{$i} {
    margin-top: calc(2px * $i) !important;
  }
  /*-| Right |-*/
  .--p-r-#{$i} {
    padding-right: calc(2px * $i) !important;
  }
  .--m-r-#{$i} {
    margin-right: calc(2px * $i) !important;
  }
  /*-| Bottom |-*/
  .--p-b-#{$i} {
    padding-bottom: calc(2px * $i) !important;
  }
  .--m-b-#{$i} {
    margin-bottom: calc(2px * $i) !important;
  }
  /*-| Left |-*/
  .--p-l-#{$i} {
    padding-left: calc(2px * $i) !important;
  }
  .--m-l-#{$i} {
    margin-left: calc(2px * $i) !important;
  }
  /*-| Positioning |-*/
  /*---+----+---+----+---+----+---+----+---*/
  .--top-#{$i} {
    top: calc(2px * $i) !important;
  }
  .--bottom-#{$i} {
    bottom: calc(2px * $i) !important;
  }
  .--left-#{$i} {
    left: calc(2px * $i) !important;
  }
  .--right-#{$i} {
    right: calc(2px * $i) !important;
  }
}
