@use "../abstracts/index" as *;

/*-| App Views |-*/
/*---+----+---+----+---+----+---+----+---*/
#app {
  position:           relative;
  display:            grid;
  overflow:           hidden;
  grid-template-rows: 1fr;
  width:              100dvw;
  // height:             $app-height;
  margin-block-start: $nav-height-actual;
}

.view {
  &-mask {
    overflow:   scroll;
    width:      $app-width;
    max-width:  $app-width;
    height:     $view-height;
    background: $grey-12;
  }
  &-container {
    display:    flex;
    flex-flow:  column;
    height:     100%;
    min-height: $view-height;
  }
}

/*-| Views |-*/
/*---+----+---+----+---+----+---+----+---*/
.view-floor-plan {
  width:  $app-width;
  height: calc(#{$view-height} - 4px);
  border: none !important;
}
