@use "../abstracts/index" as *;
/*-| Setup |-*/
/*/==/==/==/==/==/==/==/==/==/==/==/==/==/==/==/==/*/

/*-| Layout---+----+---+----+---+----+---+----+---*/
.--full {
  max-width: 100%;
  margin:    0 !important;
}

.container {
  display:       flex;
  flex:          1 1 auto;
  flex-flow:     row wrap;
  place-content: center;
  place-items:   center;
  gap:           $row-gap;
  width:         100dvw;
  max-width:     #{ $max-page-width }px;
  margin:        auto;
}

.row {
  display:       flex;
  flex:          1 1 auto;
  flex-flow:     row wrap;
  place-content: center;
  gap:           $row-gap;
  max-width:     #{ $max-page-width }px;
  margin:        0 auto;
  padding:       $sp-v-2 $sp-v-4;
  &.--items {
    margin:  0;
    padding: 0;
  }
}

/*-| Flex
---+----+---+----+---+----+---+----+---*/

/*-| Columns by Breakpoint |-*/
// @each $bp, $size in $breakpoints {
@for $size from 3 through 16 {
  @for $i from 1 through $column-number {
    /*-| Columns |-*/
    .col-#{$i}-#{$size * 100} {
      display:   flex;
      flex-flow: column nowrap;
      gap:       $col-gap;
      & > *:not(.button,button) + .button,
      & > *:not(.button,button) + button {
        margin-block-start: $sp-4;
      }
      & > .button:has(+ *:not(.button, button)),
      & > button:has(+ *:not(.button, button)) {
        margin-block-end: $sp-6;
      }
      @include breakpoint($size * 100) {
        flex-grow:   0;
        flex-shrink: 1;
        flex-basis:  calc((100% * calc($i / #{$column-number})) - #{$row-gap});
      }
    }
    /*-| Rows |-*/
    .row-#{$i}-#{$size * 100} {
      display:   flex;
      flex-flow: row wrap;
      gap:       $col-gap;
      @include breakpoint($size * 100) {
        flex-grow:   0;
        flex-shrink: 1;
        flex-basis:  calc((100% * ($i / #{$column-number})) - #{$row-gap});
      }
    }
  }
}

.--flex-grow-1 {
  flex-grow: 1 !important;
}

.--flex-grow-0 {
  flex-grow: 0 !important;
}

.--flex-shrink-1 {
  flex-shrink: 1 !important;
}

.--flex-shrink-0 {
  flex-shrink: 0 !important;
}

/*-| Position |-*/
/*/==/==/==/==/==/==/==/==/==/==/==/==/==/==/==/==/*/
.--pos-fixed {
  position: fixed;
}
