@use "sass:math";

// Ref: https://www.marcbacon.com/understanding-clamp/
@function clamp-spacing ($mV, $factor: 2, $type:"px") {
  $MV: $mV * $factor;
  $vmax: 1600;
  $vmin: 320;
  $S: calc(($MV - $mV) /($vmax - $vmin));
  $B: #{-$vmin * $S + $mV};
  $pref: #{$B}#{$type} + " + " + (#{$S * 100}vw);
  @return clamp(#{$mV}#{$type}, #{$pref}, #{$MV}#{$type})
}

@function button-gradient ($c1, $light1: 96%, $light2: 84%) {
  @return linear-gradient(180deg,
    hsl($c1, $light1) var(--gradient-stop-1),
    hsl($c1, $light2) var(--gradient-stop-2));
}
