@use "../abstracts/index" as *;
@use "../base/index" as *;

@property --gradient-stop-1 {
  initial-value: 16%;
  inherits:      false;
  syntax:        "<percentage>";
}

@property --gradient-stop-2 {
  initial-value: 88%;
  inherits:      false;
  syntax:        "<percentage>";
}

/*-| Links
==/==/==/==/==/==/==/==/==/==/==/==/==/==/==/==/*/
@mixin link-style($color) {
  width:                 max-content;
  margin:                0 -2px;
  padding:               0 2px;
  box-shadow:            inset 0 -.095rem 0 0 hsla($color, 0),
                         inset 5rem -1rem 1rem 0 hsla($color, 0),
                         inset 10rem -1.5rem 1rem 0 hsla($color, 0),
                         inset 15rem -2rem 1rem 0 hsla($color, 0),
                         inset 20rem -2.5rem 1rem 0 hsla($color, 0),
                         0 0 .15rem 0 hsla($color, 0);
  transition:            box-shadow $trans-200,
                         padding $trans-200,
                         margin $trans-200,
                         text-decoration-color $trans-200,;
  text-decoration-color: hsla($color, 85%);
  border-radius:         4px;
  &:hover {
    text-decoration-color: hsla($color, 0%);
    margin-right:          -2px;
    margin-left:           -2px;
    padding:               0 2px;
    box-shadow:            inset 0 -.095rem 0 0 hsla($color, 0),
                           inset 5rem -1rem 1rem 0 hsla($color, 5%),
                           inset 10rem -1.5rem 1rem 0 hsla($color, 15%),
                           inset 15rem -2rem 1rem 0 hsla($color, 25%),
                           inset 20rem -2.5rem 1rem 0 hsla($color, 35%),
                           0 0 .15rem 0 hsla($color, 0);
  }
}

a:not(button, .button) {
  @include link-style(var(--grey-10-hsl));
  &.--primary {
    @include link-style(var(--color-primary-hs) + ", 65%");
  }
  &.--secondary {
    @include link-style(var(--color-secondary-hs) + ", 75%");
  }
  &.--success {
    @include link-style(var(--color-success-hs) + ", 85%");
  }
  &.--warn {
    @include link-style(var(--color-warn-hs) + ", 85%");
  }
}

/*-| Buttons
==/==/==/==/==/==/==/==/==/==/==/==/==/==/==/==/*/
button,
.button {
  display:         flex;
  place-content:   center;
  place-items:     center;
  color:           $grey-2;
  font-size:       $font-xs;
  font-weight:     400;
  line-height:     1;
  text-align:      center;
  text-decoration: none;
  padding:         $sp-5 $sp-6;
  cursor:          pointer;
  border-width:    1px;
  border-style:    solid;
  border-color:    $grey-10;
  //border-bottom-width: 2px;
  border-radius:   $item-border;
  background:      button-gradient(var(--color-grey-hs));
  transition:      background $trans-200,
                   color $trans-200,
                   border-width $trans-100,
                   box-shadow $trans-100,
                   --gradient-stop-1 $trans-100,
                   --gradient-stop-2 $trans-200;
  & i {
    color:     inherit;
    font-size: inherit;
  }
  &:hover, &:active {
    color:             $grey-2;
    //background:        $grey-11; // reactivate if removing gradient backgrounds.
    box-shadow:        inset 0 0 8px 1px hsla(0, 0%, 0%, .15);
    --gradient-stop-1: 0%;
    --gradient-stop-2: 50%;
  }
  /*-| Alternatives |-*/
  /*/==/==/==/==/==/==/==/==/==/==/==/==/==/==/==/==/*/
  &.--square {
    aspect-ratio: 1 / 1;
    line-height:  1;
    height:       min-content;
    padding:      $sp-4;
  }
  &.--float {
    z-index:  10;
    position: absolute;
    &.--top-r {
      top:   $sp-8;
      right: $sp-8;
    }
    &.--top-l {
      top:  $sp-8;
      left: $sp-8;
    }
    &.--bottom-r {
      right:  $sp-8;
      bottom: $sp-8;
    }
    &.--bottom-l {
      bottom: $sp-8;
      left:   $sp-8;
    }
    &.--bottom-c {
      bottom:    $sp-8;
      left:      50%;
      transform: -50% 0;
    }
  }
  &.--disable {
    pointer-events: none;
    opacity:        0.5;
  }
  &.--stacked {
    display:       grid;
    place-content: center;
    place-items:   center;
    gap:           $sp-3;
    font-size:     $font-sm;
    padding:       $sp-5 $sp-6;
    & i {
      font-size: $font-xl;
    }
  }
  /*-| Mixin |-*/
  /*---+----+---+----+---+----+---+----+---*/
  @mixin color-button(
    $color,
    $border-color,
    $background,
    $hover-color,
    // $hover-background,
    $invert-color,
    $invert-border-color,
    $invert-background,
    $invert-hover-color,
    // $invert-hover-background
  ) {
    color:        $color;
    border-color: $border-color;
    background:   $background;
    &:hover {
      color: $hover-color,;
      // background: $hover-background;
    }
    &--invert {
      color:        $invert-color;
      border-color: $invert-border-color;
      background:   $invert-background;
      &:hover {
        color: $invert-hover-color;
        // background: $invert-hover-background;
      }
    }
  }
  /*-| Colors |-*/
  /*/==/==/==/==/==/==/==/==/==/==/==/==/==/==/==/==/*/
  &.--primary {
    @include color-button(
        $color-primary-2, // $color,
        $color-primary-6, // $border-color,
        button-gradient(var(--color-primary-hs)), // $background,
        $color-primary-2, // $hover-color,
        $color-primary-1, // $invert-color,
        $color-primary-3, // $invert-border-color,
        button-gradient(var(--color-primary-hs), 68%, 44%), // $invert-background,
        $color-primary-1, // $invert-hover-color,
    );
  }
  &.--secondary {
    @include color-button(
        $color-secondary-2, // $color,
        $color-secondary-6, // $border-color,
        button-gradient(var(--color-secondary-hs)), // $background,
        $color-secondary-2, // $hover-color,
        $color-secondary-1, // $invert-color,
        $color-secondary-3, // $invert-border-color,
        button-gradient(var(--color-secondary-hs), 68%, 44%), // $invert-background,
        $color-secondary-1, // $invert-hover-color,
    );
  }
  &.--success {
    @include color-button(
        $color-success-2, // $color,
        $color-success-8, // $border-color,
        button-gradient(var(--color-success-hs)), // $background,
        $color-success-2, // $hover-color,
        white, // $invert-color,
        $color-success-3, // $invert-border-color,
        button-gradient(var(--color-success-hs), 68%, 44%), // $invert-background,
        white, // $invert-hover-color,
    );
  }
  &.--warn {
    @include color-button(
        $color-warn-2, // $color,
        $color-warn-7, // $border-color,
        button-gradient(var(--color-warn-hs)), // $background,
        $color-warn-2, // $hover-color,
        white, // $invert-color,
        $color-warn-3, // $invert-border-color,
        button-gradient(var(--color-warn-hs), 68%, 44%), // $invert-background,
        white, // $invert-hover-color,
    );
  }
}
