@use "../abstracts/index" as *;

/*-|===!===!===!===!===!===!===!===!===!===!===!===!===!===!===!===
-| Form Layout
-|===!===!===!===!===!===!===!===!===!===!===!===!===!===!===/*/
.form-container {
  padding:       $sp-7 $sp-8 $sp-9;
  border-radius: $panel-border;
  transition:    padding $trans-200, box-shadow $trans-200;
  &:hover {
    box-shadow: 0 0 12px $grey-11;
  }
  &:has(*:focus, *:focus-visible) {
    box-shadow: -2px 2px 16px $grey-9,
                4px -4px 8px $grey-12;
  }
}

/*-|===!===!===!===!===!===!===!===!===!===!===!===!===!===!===!===
-| Form Elements
-|===!===!===!===!===!===!===!===!===!===!===!===!===!===!===/*/
label {
  display:   grid;
  flex:      1 1 auto;
  gap:       $sp-3;
  color:     $grey-5;
  font-size: $font-xs;
  margin:    $sp-5 0 0 0;
  padding:   0 $sp-2;
  & input, select, textarea {
    flex: 1 1 auto;
  }
}

input, select, textarea {
  padding:       $sp-5 $sp-5 calc($sp-5 - 2px);
  border:        2px solid $grey-10;
  border-radius: $item-border;
  transition:    box-shadow $trans-200, border $trans-200;
  &::placeholder, & > option:disabled {
    color:      $grey-8;
    font-size:  16px;
    font-style: italic;
  }
  &:focus, &:focus-visible {
    border:     2px solid $color-secondary-8;
    outline:    none;
    box-shadow: 0 0 8px -0 $color-secondary-10, inset 0 0 8px 0 $color-secondary-10;
  }
}

/*-| Fieldsets |-*/
/*---+----+---+----+---+----+---+----+---*/
fieldset {
  display:   flex;
  flex-flow: row wrap;
  gap:       $sp-4;
  color:     $grey-5;
  font-size: $font-xs;
  margin:    $sp-8 0 0 0;
  padding:   0 $sp-2;
  border:    none;
  &:not(.lead-rating) {
    flex-flow: column nowrap;
  }
  legend {
    margin-block-end: $sp-5;
    &:has( + .subtitle) {
      margin-block-end: $sp-2;
    }
  }
  .subtitle {
    color:            $grey-6;
    font-size:        $font-xxs;
    margin-block-end: $sp-2;
  }
  /*-| Lead Ratings View |-*/
  &.lead-rating div:has( > input[type="radio"]) {
    input {
      width:  $sp-7;
      height: $sp-7;
    }
  }
  /*-| Radio, Checkbox |-*/
  div:has( > input[type="checkbox"]),
  &:not(.lead-rating) div:has( > input[type="radio"]) {
    display:               grid;
    grid-template-columns: min-content 1fr;
    flex:                  1 1 35%;
    place-content:         center stretch;
    place-items:           center stretch;
    padding:               $sp-2;
    input {
      width:  $sp-7;
      height: $sp-7;
    }
    label {
      color:     $grey-2;
      min-width: max-content;
      margin:    0;
    }
  }

}

/*-| Checkbox |-*/

/*-| Search |-*/
/*---+----+---+----+---+----+---+----+---*/
.search-wrap {
  position: relative;
  button {
    position:      absolute;
    top:           50%;
    right:         $sp-8;
    border:        1px solid $grey-8;
    border-radius: 65px;
    translate:     45% -50%;
    scale:         .85;
  }
  input.search {
    padding:       $sp-5 $sp-7;
    border-radius: 65px;
    transition:    border-radius $trans-200;
    &:focus, &:focus-visible {
      border-radius: $item-border;
    }
  }
}
