@use "../abstracts/index" as *;

/*-|===!===!===!===!===!===!===!===!===!===!===!===!===!===!===!===
-| Form Layout
-|===!===!===!===!===!===!===!===!===!===!===!===!===!===!===/*/
.form-container {
  padding:       $sp-7 $sp-8 $sp-9;
  border-radius: $panel-border;
  transition:    padding $trans-200, box-shadow $trans-200;
  &:hover {
    box-shadow: 0 0 12px $grey-11;
  }
  &:has(*:focus, *:focus-visible) {
    box-shadow: -2px 2px 16px $grey-9,
                4px -4px 8px $grey-12;
  }
}

/*-|===!===!===!===!===!===!===!===!===!===!===!===!===!===!===!===
-| Form Elements
-|===!===!===!===!===!===!===!===!===!===!===!===!===!===!===/*/
label {
  display:   grid;
  flex:      1 1 auto;
  gap:       $sp-3;
  color:     $grey-5;
  font-size: $font-xs;
  margin:    $sp-5 0 0 0;
  padding:   0 $sp-2;
  & input, select, textarea {
    flex: 1 1 auto;
  }
}

input, select, textarea {
  padding:       $sp-4 $sp-3 calc($sp-4 - 2px);
  border:        1px solid $grey-10;
  border-radius: $sp-2;
  transition:    box-shadow $trans-200, border $trans-200;
  &::placeholder, & > option:disabled {
    color:      $grey-8;
    font-size:  16px;
    font-style: italic;
  }
  &:focus, &:focus-visible {
    border:     1px solid $color-secondary-8;
    outline:    none;
    box-shadow: inset 0 0 4px 0 $color-secondary-10;
  }
}

/*-| Radio Buttons---+----+---+----+---+----+---+----+---*/
fieldset {
  display:   flex;
  flex-flow: row wrap;
  gap:       $sp-4;
  div:has( > input[type="radio"]) {
    input[type="radio"] {
      width:  $sp-8;
      height: $sp-8;
    }
  }
}

/*-| Search---+----+---+----+---+----+---+----+---*/
.search-wrap {
  position: relative;
  button {
    position:      absolute;
    top:           50%;
    right:         $sp-8;
    border:        1px solid $grey-8;
    border-radius: 65px;
    translate:     45% -50%;
    scale:         .85;
  }
  input.search {
    padding:       $sp-5 $sp-7;
    border-radius: 65px;
    transition:    border-radius $trans-200;
    &:focus, &:focus-visible {
      border-radius: $item-border;
    }
  }
}
