@use "../abstracts/index" as *;

.nav-bar {
  z-index:          10000;
  position:         fixed;
  top:              0;
  right:            0;
  left:             0;
  display:          flex;
  flex-flow:        row nowrap;
  place-content:    end;
  place-items:      end;
  gap:              $sp-4;
  height:           $nav-height;
  padding:          $nav-padding;
  background-color: $color-primary-5;
}

.sidebar--nav-wrapper {
  z-index:       99999;
  position:      fixed;
  top:           $nav-height-actual;
  bottom:        0;
  left:          0;

  display:       flex;
  place-content: stretch;
  width:         100dvw;

  background:    $color-primary-6;

  @include breakpoint(550) {
    max-width: 365px;
  }
}

.sidebar--nav {
  display:   flex;
  flex:      1 1;
  flex-flow: column nowrap;
  gap:       $sp-4;
  padding:   $nav-padding;

  #sign-in, #sign-out {
    margin-block-start: auto;
  }
}
