@use "../abstracts/index" as *;

.table-container {
  overflow-x: auto;
}

.table-scroll-wrapper {
  position:   relative;
  overflow:   scroll;
  width:      1600px;
  max-width:  calc(100vw - $sp-8);
  max-height: calc(100vh - 300px);
  margin:     0 $sp-8;
}

.attendee-table {
  text-align:      left;
  padding:         $sp-4;
  border-collapse: collapse;
  border:          1px solid $grey-8;
  th {
    padding:    $sp-4 $sp-5;
    border:     1px solid $grey-9;
    background: $grey-10;
  }
  tbody {
    tr {
      border:     1px solid $grey-9;
      transition: background 200ms ease-in;
      .table-attendee-row {
      }
      .table-edit-buttons {
        pointer-events:        none;
        position:              sticky;
        top:                   auto;
        left:                  0;
        display:               grid;
        grid-template-columns: 1fr 1fr;
        gap:                   $sp-2;
        width:                 max-content;
        padding:               $sp-4;
        opacity:               0;
        background:            $color-primary-10;
        transition:            opacity 200ms ease-in;
      }
      &:hover .table-edit-buttons {
        pointer-events: all;
        opacity:        100%;
      }
      td, th {
        height: 55px !important;
      }
      td {
        overflow:      clip;
        line-height:   1;
        white-space:   nowrap;
        text-overflow: ellipsis;
        width:         5%;
        max-width:     300px;
        padding:       $sp-4 $sp-4;
        border-right:  1px solid $grey-11;
        outline:       2px solid hsla(0, 0%, 0%, 0);
        transition:    outline 200ms ease-out;
        &:has(input) {
          padding: $sp-2;
        }
        &#comment {
          white-space: wrap;
        }
      }
      &:hover {
        outline:    1px solid $color-primary-6;
        background: $color-primary-10;
      }
    }
  }
}
